header {
  background-color: #24292f;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  /* background-color: thistle; */
  width: 740px;
  height: 80%;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left > input {
  width: 300px;
  height: 32px;
  border-radius: 5%;
  border: none;
  background: #3f4448;
}

.header-left > ul > li {
  float: left;
  color: whitesmoke;
  font-size: 20px;
  /* font-weight: bold; */
  padding-right: 0.6em;
}

.logo {
  height: 70%;
}

.header-right {
  /* background-color: tomato; */
  width: 250px;
  height: 80%;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-header-photo {
  max-height: 100%;
}

/* MAIN CONTENT BOX STYLING */
.content {
  /* background: wheat; */
  width: 80%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
  padding: 20px;
}

/* LEFT SIDE OF MAIN CONTENT BOX  */
.content-left {
  /* background-color: aliceblue; */
  width: 25%;
  height: 100%;
  padding: 15px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
  color: #3f4448;
}

.edit-button {
  width: 100%;
  height: 35px;
  border-radius: 4%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-left > img {
  width: 100%;
}

.content-left > input {
  width: 99%;
  height: 30px;
  font-size: 18px;
  margin-bottom: 18px;
}

.bio {
  font-size: 18px;
  color: #3f4448;
}

/* RIGHT SIDE OF MAIN CONENT BOX */
.content-right {
  /* background: aquamarine; */
  width: 75%;
  height: 100%;
  padding: 15px;
}

/* SECONDARY NAV BAR IN RIGHT CONTENT BOX  */
.body-links {
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.body-links > ul > li {
  display: inline-block;
  font-size: 22px;
  margin: 0 30px;
}

/* SET OF BOXES FOR REPOSITORIES  */
.pins {
  /* background-color: blueviolet; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pinned {
  width: 585px;
  height: 135px;
  /* background-color: brown; */
  border: solid 1px grey;
  border-radius: 1%;
  margin: 10px;
}

/* STYLING FOR CALENDAR  */
.calendar > img {
  width: 100%;
  margin-top: 5px;
}

.description {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 17px;
}
